@model IEnumerable<Services.Models.Product>
@using Joole_MVC_Team1.Extensions

        @foreach (var row in Model.ToArray().Split(3))
        {
            <div class="row">
                @foreach (var item in row)
                {

                    <div class="product-col col-sm-3 col-md-3">
                        <div>
                            <a href="/tempProductDetails/Details/@Html.DisplayFor(modelItem => item.productId)">
                                <img class="product-image" id="@Html.DisplayFor(modelItem => item.productId)-productImage" src="@Html.DisplayFor(modelItem => item.productImage)" />
                            </a>
                        </div>
                        <div class="product-title">
                            <div>@Html.DisplayFor(modelItem => item.manufacturerName) @Html.DisplayFor(modelItem => item.productName)</div>
                            <div>@Html.DisplayFor(modelItem => item.Series)</div>
                            <div>@Html.DisplayFor(modelItem => item.modelYear) @Html.DisplayFor(modelItem => item.Model)</div>
                        </div>
                        <div>
                            @foreach (var prop in item.propertyValues)
                            {
                                <div>@prop</div>
                            }
                        </div>
                        <div>
                            <label for="compare-@Html.DisplayFor(modelItem => item.productId)">Compare</label>
                            <input type="checkbox" class="compare" name="compare-@Html.DisplayFor(modelItem => item.productId)" value="@Html.DisplayFor(modelItem => item.productId)" />
                        </div>
                    </div>
                }
            </div>
        }
        @if(!Model.Any())
        {
            <div class="product-title">No results found</div>
        }
