@model Joole_MVC_Team1.Models.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<style>
    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .tab {
        overflow: hidden;
        /*border: 1px solid #ccc;
            background-color: #f1f1f1;*/
    }
        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }
            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }
            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #F8F8F8;
            }
    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        /*border: 1px solid #ccc;*/
        border-top: none;
    }

    #alignh {
        position: absolute;
        width: 1000px;
        px;
        height: 1000px;
        /*border: 1px solid black;*/
        padding: 10px;
    }

        #alignh > div {
            float: left;
            margin: 10px;
        }

    #d1 {
        width: 400px;
        height: 400px;
        /*border: 1px solid red;*/
    }

    #d2 {
        width: 400px;
        height: 400px;
        /*border: 1px solid blue;*/
    }
</style>
<!--<div class="tab">
    <button class="tablinks" onclick="displayDetails(event, 'Product_Summary')">Product Summary</button>
    <button class="tablinks" onclick="displayDetails(event, 'Product_Details')">Product Details</button>
    <button class="tablinks" onclick="displayDetails(event, 'Product_Documentation')">Product Documentation</button>
    <button class="tablinks" onclick="displayDetails(event, 'Contact')">Contact</button>
</div> -->

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#Product_Summary">Product Summary</a></li>
    <li><a data-toggle="tab" href="#Product_Details">Product Details</a></li>
    <li><a data-toggle="tab" href="#Product_Documentation">Product Documentation</a></li>
    <li><a data-toggle="tab" href="#Contact">Contact</a></li>
</ul>

<hr />

<div class="tab-content">
 
    <div id="Product_Summary" class="tab-pane fade in active">
        <h2>Product Summary</h2>

        <div class="container">

        </div>
        @*<div class="row" style="display:flex; width : 50%;">
            <div class="column" style="flex:70%;">
                <table style="border-collapse:collapse" width="500">

                    <tr>

                        <th colspan="2">DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manufacture)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Manufacture)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Series)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Series)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Model)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Model)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">TYPE</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UseType)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.UseType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Application)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Application)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MountingLoaction)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.MountingLoaction)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Accessories)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Accessories)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ModelYear)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.ModelYear)
                        </td>
                    </tr>
                </table>



            </div>

            <div class="column ">
                <table width="700">

                    <tr>
                        <th colspan="5">TECHNICAL SPECIFICATION</th>
                    </tr>

                    @for (int i = 0; i < Model.techSpecList.Count(); i++)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => m.techSpecList[i].propertyName) <br />
                    </td>
                    @if (Model.techSpecList[i].isTypeSpec)
                    {
                        <th>Min</th>
                        <td>@Html.DisplayFor(m => m.techSpecList[i].min)<br /></td>
                        <th>Max</th>
                        <td>@Html.DisplayFor(m => m.techSpecList[i].max)<br /></td>
                    }
                    else
                    {
                        <td scope="row" colspan="4">@Html.DisplayFor(m => m.techSpecList[i].singleValue)<br /></td>

                    }
                </tr>
                    }

                </table>
            </div>

        </div>*@

    </div>

    <div id="Product_Details" class="tab-pane fade">

        <!--insert a table-->
        <h2>Product Details</h2>
        <div class="row" style="display:flex; width : 50%;">
            <div class="column" style="flex:70%;">
                <table style="border-collapse:collapse" width="500">

                    <tr>

                        <th colspan="2">DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manufacture)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Manufacture)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Series)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Series)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Model)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Model)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">TYPE</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UseType)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.UseType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Application)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Application)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MountingLoaction)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.MountingLoaction)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Accessories)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Accessories)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ModelYear)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.ModelYear)
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column ">
                <table width="700">

                    <tr>
                        <th colspan="5">TECHNICAL SPECIFICATION</th>
                    </tr>

                    @for (int i = 0; i < Model.techSpecList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.techSpecList[i].propertyName) <br />
                            </td>
                            @if (Model.techSpecList[i].isTypeSpec == false)
                            {


                                <td scope="row" colspan="4">@Html.DisplayFor(m => m.techSpecList[i].singleValue)<br /></td>
                            }
                            else
                            {
                                <th>Min</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].min)<br /></td>
                                <th>Max</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].max)<br /></td>

                            }
                        </tr>
                    }

                </table>
            </div>

        </div>

    </div>
   
    <div id="Product_Documentation" class="tab-pane fade ">
        <h2>Product Documentation</h2>
        <div class="row" style="display:flex; width : 50%;">
            <div class="column" style="flex:70%;">
                <table style="border-collapse:collapse" width="500">

                    <tr>

                        <th colspan="2">DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manufacture)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Manufacture)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Series)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Series)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Model)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Model)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">TYPE</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UseType)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.UseType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Application)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Application)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MountingLoaction)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.MountingLoaction)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Accessories)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Accessories)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ModelYear)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.ModelYear)
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column ">
                <table width="700">

                    <tr>
                        <th colspan="5">TECHNICAL SPECIFICATION</th>
                    </tr>

                    @for (int i = 0; i < Model.techSpecList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.techSpecList[i].propertyName) <br />
                            </td>
                            @if (Model.techSpecList[i].isTypeSpec == false)
                            {


                                <td scope="row" colspan="4">@Html.DisplayFor(m => m.techSpecList[i].singleValue)<br /></td>
                            }
                            else
                            {
                                <th>Min</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].min)<br /></td>
                                <th>Max</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].max)<br /></td>

                            }
                        </tr>
                    }

                </table>
            </div>

        </div>

    </div>

    <div id="Contact" class="tab-pane fade">
        <h2>Contact</h2>
        <!--insert a table-->
        <div class="row" style="display:flex; width : 50%;">
            <div class="column" style="flex:70%;">
                <table style="border-collapse:collapse" width="500">

                    <tr>

                        <th colspan="2">DESCRIPTION</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Manufacture)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Manufacture)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Series)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Series)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Model)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Model)
                        </td>
                    </tr>
                    <tr>
                        <th colspan="2">TYPE</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UseType)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.UseType)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Application)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Application)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.MountingLoaction)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.MountingLoaction)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Accessories)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.Accessories)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ModelYear)
                        </td>
                        <shadow></shadow>
                        <td>
                            @Html.DisplayFor(model => model.ModelYear)
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column ">
                <table width="700">

                    <tr>
                        <th colspan="5">TECHNICAL SPECIFICATION</th>
                    </tr>

                    @for (int i = 0; i < Model.techSpecList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.techSpecList[i].propertyName) <br />
                            </td>
                            @if (Model.techSpecList[i].isTypeSpec == false)
                            {


                                <td scope="row" colspan="4">@Html.DisplayFor(m => m.techSpecList[i].singleValue)<br /></td>
                            }
                            else
                            {
                                <th>Min</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].min)<br /></td>
                                <th>Max</th>
                                <td>@Html.DisplayFor(m => m.techSpecList[i].max)<br /></td>

                            }
                        </tr>
                    }

                </table>
            </div>

        </div>

    </div>

</div>


<p>

</p>
