@model Joole_MVC_Team1.Models.CompareViewModel

@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>

<div>
    <h4>CompareViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.p1.Model_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.p1.Model_Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model =>  model.p2.Model_Year)
        </dt>

        <dd>
            @Html.DisplayFor(model =>  model.p2.Model_Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
